
.App-header {
  background-color: green;
  height: 200px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 5em;
  text-align: center;
}

.App-intro {
  font-size: large;
  text-align:center;
}